{% extends "base.html" %}

{% block head_tag %}
    <!--Date and Time Picker -->
    <link rel= "stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
{% endblock head_tag %}

{% block header_content %}
    <h2>Reservation Request</h2>
{% endblock %}

{% block content %}

{% load crispy_forms_tags %}
    <div class="row">
        <div class="col-sm">
            <h3>Reserving Online</h3>
            <p>
                Please keep in mind that your that an email will be sent to you after your reservation is confirmed.
            </p>
            <p>
                Reservations will be kept for a maximum of 10 minutes after the stated arrival time. If you are running
                late, or your plans change, please call us to let us know that you are coming otherwise you may lose
                your table.
            </p>
        </div>
        <div class="col-sm">
            <h3>Reservation Form</h3>
            <form method="POST" class="mb-5">
                {% csrf_token %}

                {% crispy customer_form %}
                {% crispy reservation_form %}
                <input type="submit" class="btn btn-success" value="Send Request">

            </form>
        </div>
    </div>


{% endblock %}

{% block script_tag %}
     <!--Date Time Picker-->
     <script type= "text/javascript" src= "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
{% endblock script_tag %}
   