{% extends "base.html" %}

{% block content %}
<div class="container col-md-10 mx-auto">
    {% if customer is None %}
      <div class="row">
          <p>You have no table reservation. Click <a href="{% url 'reservation_request' %}">Reservation</a> to request a table.</p>
        <hr> 
      </div>
    {% else %}
    <h4>Manage Reservation</h4>
    <p>We found {{ upcoming_reservations.count }} upcoming reservations found for {{ customer }}.<br />
      Please note that updating a confirmed reservation changes the status of your reservation to pending</p>
    <hr>
    <div class="row justify-content-center">
      {% for reservation in upcoming_reservations %}
      <div class="card col-md-4 col-lg-3 ml-3 mb-5">
        <div class="card-body">
          <p class="reserve-title mt-0">Reservation Ref: {{ reservation.id }}</p>
          <p><span class='reserve-label'>Party of:</span> {{ reservation.party_size }} <br />
            <span class='reserve-label'>Date:</span> {{ reservation.reservation_date }} <br />
            <span class='reserve-label'>Time:</span> {{ reservation.reservation_time }}
          </p>
            <p>
              {% if reservation.status == 'pending' %}
                  You reservation is <span class="badge badge-warning">{{ reservation.status }}</span>
              {% elif reservation.status == 'confirmed' %}
                Your reservation is <span class="badge badge-success">{{ reservation.status }}</span>
              {% else %}
                <strong>We are sorry, we are unable to reserve a for you table at this time.</strong>
              {% endif %}
            </p>
          <hr />
        </div>
        <div class="d-flex justify-content-around mb-5">
          <a href="{% url 'update_reservation' reservation.id %}" class="btn btn-sm btn-primary">Update</a>
          <a href="{% url 'reservation_request' %}" class="btn btn-sm btn-danger">Cancel</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
{% endblock %}