@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Sans+Pro:wght@300;400;600&display=swap');

body {
    background-color: #f5f5ef;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
}

/***********************************************
    GENERAL ELEMENTS AND REUSABLE CLASSES
************************************************/
.masthead {
    background-image: url(../images/alex-haney-CAhjZmVk5H4-unsplash.jpg);
    background-repeat: no-repeat;
}

/** FORM ELEMENTS **/
.asteriskField {
    color: red;
}

div.form-row {
    margin-bottom: 1rem;
}