{% extends "base.html" %}

{% block header_content %}
    <h2>Contact Us</h2>
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}

    <div class="col-md-10 col-lg-8 col-xl-7">
        <p>Want to get in touch? Fill out the form below to send me a message and I will get back to you as soon as possible!</p>
        <div class="my-5">
            <form method="POST">
                {{ form | crispy}}
                {% csrf_token %}
    
                <input type="submit" class="btn btn-primary text-uppercase" value="Send">
            </form>
        </div>
    </div>
    {% endblock %}